<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="comment-item">
  <div class="comment-item__row comment-item__date">
    <div class="comment-item__label">Date:</div>
    <div class="comment-item__value"><f:format.date format="%d.%m.%y %H:%M:%S">{comment.date}</f:format.date></div>
    <div class="clear"></div>
  </div>
  <div class="comment-item__row comment-item__name">
    <div class="comment-item__label">Name:</div>
    <div class="comment-item__value">{comment.name}</div>
    <div class="clear"></div>
  </div>
  <div class="comment-item__row comment-item__email">
    <div class="comment-item__label">E-Mail:</div>
    <div class="comment-item__value">{comment.email}</div>
    <div class="clear"></div>
  </div>
  <div class="comment-item__row comment-item__comment">
    <div class="comment-item__label">Comment:</div>
    <div class="comment-item__value">{comment.comment}</div>
    <div class="clear"></div>
  </div>
</div>

</html>