<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

  <f:for each="{comments}" as="comment">
    <f:render partial="List/Item" arguments="{comment: comment}" />
  </f:for>

  <f:form action="create" method="POST" object="{comment}" name="comment" enctype="multipart/form-data">

    <div class="form-item form-item__comment-name">
      <div class="form-item__label">Name:</div>
      <div class="form-item__value"><f:form.textfield property="name" id="comment-name"/></div>
      <f:render partial="FormErrors" arguments="{field: 'comment.name'}"/>
      <div class="clear"></div>
    </div>

    <div class="form-item form-item__comment-email">
      <div class="form-item__label">E-Mail:</div>
      <div class="form-item__value"><f:form.textfield property="email" id="comment-email"/></div>
      <f:render partial="FormErrors" arguments="{field: 'comment.email'}"/>
      <div class="clear"></div>
    </div>

    <div class="form-item form-item__comment-comment">
      <div class="form-item__label">Comment:</div>
      <div class="form-item__value"><f:form.textarea property="comment" id="comment-comment"/></div>
      <f:render partial="FormErrors" arguments="{field: 'comment.comment'}"/>
      <div class="clear"></div>
    </div>

    <div class="form-item">
      <f:form.submit title="Submit" value="Submit" id="comment-submit"/>
      <div class="clear"></div>
    </div>
  </f:form>
</f:section>

</html>