.form-item,
.comment-item {
  width: 500px;
  margin-bottom: 1em;
}

.form-item {
  margin-bottom: 10px;
  display: block;
}

.comment-item {
  border-bottom: 1px solid silver;
}

.form-item__row,
.comment-item__row {
  display: block;
}

.form-item__label,
.comment-item__label {
  width: 100px;
  float: left;
  font-weight: bold;
}

.form-item__value,
.comment-item__value {
  width: 700px;
  float: left;
  margin-bottom: 0.4em;
}

.form-item__value textarea,
.form-item__value input[type=text] {
  width: 100%;
  padding: 5px;
}

.form-item__value textarea {
  height: 100px;
}

.field-errors {
  clear: both;
  color: red;
}

.clear {
  clear: both;
}